<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Metronome"
           Version="1.0.0"
           Manufacturer="Metronome"
           UpgradeCode="F1234567-89AB-CDEF-0123-456789ABCDEF"
           Compressed="yes"
           InstallerVersion="500">
    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Metronome">
        <Component Id="MainExecutable" Guid="F1234567-89AB-CDEF-0123-456789ABCDE1">
          <File Source="$(var.SourceDir)\metronome.exe" KeyPath="yes" />
        </Component>
        <Component Id="FlutterWindowsDll" Guid="F1234567-89AB-CDEF-0123-456789ABCDE2">
          <File Source="$(var.SourceDir)\flutter_windows.dll" />
        </Component>
        <Component Id="FlutterSoloudPluginDll" Guid="F1234567-89AB-CDEF-0123-456789ABCDE3">
          <File Source="$(var.SourceDir)\flutter_soloud_plugin.dll" />
        </Component>
        <Component Id="WindowManagerPluginDll" Guid="F1234567-89AB-CDEF-0123-456789ABCDE4">
          <File Source="$(var.SourceDir)\window_manager_plugin.dll" />
        </Component>
        <Component Id="ScreenRetrieverPluginDll" Guid="F1234567-89AB-CDEF-0123-456789ABCDE5">
          <File Source="$(var.SourceDir)\screen_retriever_windows_plugin.dll" />
        </Component>
        <Component Id="DartJniDll" Guid="F1234567-89AB-CDEF-0123-456789ABCDE6">
          <File Source="$(var.SourceDir)\dartjni.dll" />
        </Component>
      </Directory>
    </StandardDirectory>

    <Feature Id="ProductFeature" Title="Metronome" Level="1">
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="FlutterWindowsDll" />
      <ComponentRef Id="FlutterSoloudPluginDll" />
      <ComponentRef Id="WindowManagerPluginDll" />
      <ComponentRef Id="ScreenRetrieverPluginDll" />
      <ComponentRef Id="DartJniDll" />
    </Feature>
  </Package>
</Wix>
